<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntuneMAMSettings</key>
	<dict>
		<key>AppGroupIdentifiers</key>
		<array>
			<string>group.com.notcontoso.appexdemo</string>
		</array>
		<key>ContainingAppBundleId</key>
		<string>com.notcontoso.appexdemo</string>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv2</string>
		<string>msauthv3</string>
		<string>http</string>
		<string>http-intunemam</string>
		<string>https</string>
		<string>https-intunemam</string>
		<string>itms-apps</string>
		<string>itms-apps-intunemam</string>
		<string>mailto</string>
		<string>mailto-intunemam</string>
		<string>ms-outlook-intunemam</string>
		<string>microsoft-edge-https</string>
		<string>microsoft-edge-http</string>
		<string>ms-outlook</string>
		<string>companyportal</string>
		<string>smart-ns</string>
		<string>zips</string>
		<string>lacoonsecurity</string>
		<string>wandera</string>
		<string>lookoutwork-ase</string>
		<string>skycure</string>
		<string>betteractiveshield</string>
		<string>smsec</string>
		<string>mvisionmobile</string>
		<string>scmx</string>
	</array>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.authentication-services-credential-provider-ui</string>
	</dict>
</dict>
</plist>
